body {
    background-color: #cacaca;
}

table {
    padding: 5px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    width: 500px;
    height: 500px;
    box-shadow: 14px 8px 11px 5px rgba(0,0,0,0.63);
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 5%;
}

button {
    margin: 3px;
    width: 85px;
    height: 70px;
    font-size: 25px;
    border-radius: 3%;
    outline: none;
    background: #edeff8;
    transition: background 0s;
}

button:active {
    background: #d1d9fa;
    transition: background 0s;
  }

#zero {
    width: 220px;
    height: 70px;
}

#ravno {
    width: 85px;
    height: 170px;
}

.text_css {
    background-color: #000000;
    color: #fff;
    width: 450px;
    height: 50px;
    font-size: 30px;
    border: 2px solid #000;
}

.stroka {
    padding: 10px;
}

.result_css {
    font-size: 70px;
    background-color: #000;
    color: #fff;
    height: 200px;
    width: 454px;
    overflow: hidden;
}
